<% zone_1_url = 'http://10.16.4.3:9001' %>
<% zone_2_url = 'http://10.16.4.3:9002' %>
<% zone_3_url = 'http://10.16.4.3:9003' %>

<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Printer Reset</title>
    <link rel="stylesheet" type="text/css" href="./tachyons.min.css"/>
  </head>
  <body class='container sans-serif'>
    <section class="">
      <article class="center bg-lightest-blue">
        <div class="dt-l dt--fixed-l w-100">
          <div class="pa3 pa4-l dtc-l v-mid">
            <div>
              <h3\ class="f3 fw4 blue mt0 mb3">This button will clear the printer queue</h3\>
              <p class="f4 black-70 measure lh-copy mv0">
                Use this button when the printer is out of sync.
              </p>
            </div>
          </div>
          <div class="pa3 pa4-l dtc-l v-mid">
            <form action='reset_printer' method='post'>
              <button type='submit' class='no-underline f4 tc db w-100 pv3 bg-animate bg-blue hover-bg-dark-blue white'>Reset Printer</button>
            </form>
          </div>
        </div>
      </article>
    </section>
    <div class="flex items-center justify-center flex-column">
      <div class='cf dib'>
        <p class="m0 f6 silver tc">Link to Logs</p>
        <a class="f4 fl hover-bg-blue hover-white b--blue link ba ph3 pv2 dib blue ma1" target="_blank" href="<%= zone_1_url %>">Zone 1</a>
        <a class="f4 fl hover-bg-blue hover-white b--blue link ba ph3 pv2 dib blue ma1" target="_blank" href="<%= zone_2_url %>">Zone 2</a>
        <a class="f4 fl hover-bg-blue hover-white b--blue link ba ph3 pv2 dib blue ma1" target="_blank" href="<%= zone_3_url %>">Zone 3</a>
      </div>
    </div>

    <iframe src='<%= zone_1_url %>' frameborder="0" class="w-100 vh-25"></iframe>
    <iframe src='<%= zone_2_url %>' frameborder="0" class="w-100 vh-25"></iframe>
    <iframe src='<%= zone_3_url %>' frameborder="0" class="w-100 vh-25"></iframe>
  </body>
</html>